<div id="ut-comment-modal">
    <div class="modal-header">
        <h3 >Edit Comment</h3>
    </div>
    <div class="modal-body" ut-modal-body>
        <div class="form-horizontal">
            <ut-control-group label="Author:" class="author">
                <img ng-src="/profile/avatar/{{comment.userId}}"/>
                {{comment.User.fullName}}
            </ut-control-group>

            <ut-control-group label="Created at:" class="created">
                {{comment.created_at | utDate | date:'MM/dd/yy @ h:mma'}}
            </ut-control-group>

            <ut-control-group label="Notes:">
                <textarea ng-model="commentVars.comment" class="ut-comment-text-box"></textarea>
            </ut-control-group>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn" ng-click="save()" style="margin-right:5px;">
            <a>Save</a>
        </button>
        <a href="" ng-click="cancel()">Cancel</a>
    </div>
</div>