<div id="ut-detail-container">
    <div class="header">
        <div class="operations">
            <ut-dropdown
                icon="operations-icon-share"
                title="Share"
                template="/app/partials/grid/share.html"
            >
            </ut-dropdown>
        </div>
        <img class="header-icon medium" src="/images/utilities/inventory/preset-icon.png" />
        <ul class="ut-breadcrumbs">
            <li ui-sref="croweLab">Crowelab</li>
            <li ui-sref="presetGrid.search">Presets</li>
            <li class="end">{{preset.id}}</li>
            <li class="title">{{preset.name}}</li>
        </ul>
    </div>
    <div class="content">
        <div class="toolbar">
            <button class="btn" ng-click="edit()" ng-if="canEdit()">
                <i class="icon-pencil" />
                Edit
            </button>
            <button class="btn" ng-click="comment()"><i class="icon-comment" /> Comment</button>
        </div>
        <div class="main-column full-width">
            <ut-edit-module title="Details">
                <div class="detail-column">
                    <table class="detail">
                        <tr>
                            <td>Sample Type:</td>
                            <td>
                                <a ui-sref="sampleType({sampleTypeId:preset.SampleType.id})" class="flat-link" class="ut-link-cursor">
                                    {{preset.SampleType.name}}
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>Molecule:</td>
                            <td>
                                <a ui-sref="molecule({moleculeId:preset.Molecule.id})" class="flat-link" class="ut-link-cursor">
                                    {{preset.Molecule.name}}
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>Tag:</td>
                            <td>
                                <a ui-sref="tag({tagId:preset.Tag.id})" class="flat-link" class="ut-link-cursor">
                                    {{preset.Tag.name}}
                                </a>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="detail-column">
                    <table class="detail">
                        <tr>
                            <td>Parent:</td>
                            <td>
                                <a ui-sref="parent({parentId:preset.Parent.id})" class="flat-link" class="ut-link-cursor">
                                    {{preset.Parent.description}}
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>Target:</td>
                            <td>
                                <a ui-sref="target({targetId:preset.Target.id})" class="flat-link" class="ut-link-cursor">
                                    {{preset.Target.name}}
                                </a>
                            </td>
                        </tr>
                    </table>
                </div>
            </ut-edit-module>
            <ut-edit-module title="Attachments">
                <ut-attachment-module
                    o="Preset"
                    oid="preset.id"
                >
                </ut-attachment-module>
            </ut-edit-module>

            <ut-edit-module title="Activity">
                <ut-activity-module
                    o="Preset"
                    oid="preset.id"
                    comment="comment"
                >
                </ut-activity-module>
            </ut-edit-module>
        </div>
    </div>
</div>