<div id="admin-core-container">
    <h2>Administration Core</h2>
    <div class="admin-core lead">
        <ut-web-text name="aboutAdminCore"></ut-web-text>
    </div>
    <div class="apps">
        <h2>Applications</h2>
        <table class="utility-app-icon">
            <tbody>
                <tr>
                    <td
                        class='icon'
                        group="vvc_admin"
                        link="/#/lab-core/search"
                        title="Labs & Cores"
                        ut-app-icon
                    >
                    </td>
                    <td
                        class='icon'
                        group="vvc_admin"
                        link="/#/news/search"
                        title="News"
                        ut-app-icon
                    >
                    </td>
                    <td
                        class='icon'
                        group="vvc_admin"
                        link="/#/research/search"
                        title="Research"
                        ut-app-icon
                    >
                    </td>
                    <td
                        class='icon'
                        link="/travel/request"
                        title="Travel"
                        ut-app-icon
                    >
                    </td>
                    <td
                        class='icon'
                        group="vvc_admin"
                        link="/#/web-text/search"
                        title="Web Texts"
                        ut-app-icon
                    >
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="admin-core-address">
        <address>
            <strong>Administration Core</strong><br>
            1161 21st Avenue South, B-3307 Medical Center North<br>
            Nashville, TN 37232 <br>
            <abbr title="Phone">P:</abbr> 615.343.6070
        </address>
        <address>
          <strong>Email</strong><br>
          <a href="mailto:admin@vvcenter.org">admin@vvcenter.org</a>
        </address>
    </div>
</div>