<div id="crowe-lab-container">
    <h2>Crowe Lab</h2>
    <div class="crowe-lab lead">
        <ut-web-text name="aboutCrowelab"></ut-web-text>
    </div>
    <div class="apps">
        <h2>Applications</h2>
        <table class="utility-app-icon">
            <tbody>
                <tr>
                    <td
                        class='icon'
                        group="users"
                        link="/vim"
                        title="VIM"
                        ut-app-icon
                    >
                    </td>
                    <td
                        class='icon'
                        group="users"
                        link="/#/mta/search"
                        title="MTA"
                        ut-app-icon
                    >
                    </td>
                    <td
                        class='icon'
                        group="users"
                        sref="cdaGrid.search"
                        title="CDA"
                        ut-app-icon
                    >
                    </td>
                    <td
                        class='icon'
                        group="users"
                        link="/#/contact/search"
                        title="Contacts"
                        ut-app-icon
                    >
                    </td>
                    <td
                        class='icon'
                        group="users"
                        link="/#/collaborator/search"
                        title="Collaborators"
                        ut-app-icon
                    >
                    </td>
                    <td
                        class='icon'
                        group="users"
                        link="/#/repository/search"
                        title="Repositories"
                        ut-app-icon
                    >
                    </td>
                    <td
                        class='icon'
                        group="users"
                        link="/#/publication/search"
                        title="Publications"
                        ut-app-icon
                    >
                    </td>
                </tr>
            </tbody>
        </table>
        <div id="inventory-home-container">
            <div class="wrapper-1">
                <ut-inventory-icon sref="donorGrid.search" icon-class="donors"></ut-inventory-icon>
                <ut-inventory-icon sref="humanSpecimenGrid.search" icon-class="blood"></ut-inventory-icon>
                <ut-inventory-icon sref="sampleGrid.search" icon-class="samples"></ut-inventory-icon>
                <ut-inventory-icon sref="presetGrid.search" icon-class="presets"></ut-inventory-icon>
                <ut-inventory-icon sref="boxView.freezerList" params="boxSrefParams" icon-class="freezers"></ut-inventory-icon>
                <ut-inventory-icon link="/gene_synthesis" icon-class="gene-synthesis"></ut-inventory-icon>
            </div>
            <div class="wrapper-2">
                <ut-inventory-icon sref="moleculeGrid.search" icon-class="molecules"></ut-inventory-icon>
                <ut-inventory-icon sref="tagGrid.search" icon-class="tags"></ut-inventory-icon>
                <ut-inventory-icon sref="sampleTypeGrid.search" icon-class="types"></ut-inventory-icon>
                <ut-inventory-icon sref="targetGrid.search" icon-class="targets"></ut-inventory-icon>
                <br>
                <ut-inventory-icon sref="speciesGrid.search" icon-class="species"></ut-inventory-icon>
                <ut-inventory-icon sref="raceGrid.search" icon-class="races"></ut-inventory-icon>
                <ut-inventory-icon sref="ethnicityGrid.search" icon-class="ethnicities"></ut-inventory-icon>
                <ut-inventory-icon sref="protocolGrid.search" icon-class="protocols"></ut-inventory-icon>
            </div>
        </div>
    </div>

    <div class="crowe-lab-address">
        <address>
            <strong>Crowe Lab</strong><br>
            2213 Garland Avenue, 11475 Medical Research Building IV<br>
            Nashville, TN 37232 <br>
            <abbr title="Phone">P:</abbr> 615.343.8064
        </address>
        <address>
            <strong>Email</strong><br>
            <a href="mailto:crowelab@vvcenter.org">crowelab@vvcenter.org</a>
        </address>
    </div>
</div>
