<div id="flow-core-container">
    <h2>Flow Core</h2>
    <div class="flow-core lead">
        <ut-web-text name="aboutFlowCore"></ut-web-text>
    </div>
    <div class="flow-core-address">
        <address>
            <strong>Flow Core</strong><br>
            1161 21st Avenue S., T0101 Medical Center North<br>
            Nashville, TN 37232 <br>
            <abbr title="Phone">P:</abbr> 615.343.3661
        </address>
        <address>
            <strong>Email</strong><br>
            <a href="mailto:flowcore@vvcenter.org">flowcore@vvcenter.org</a><br>
            <strong>Website</strong><br>
            <a href="http://www.mc.vanderbilt.edu/root/vumc.php?site=flowcytometry">http://www.mc.vanderbilt.edu/root/vumc.php?site=flowcytometry</a>
        </address>
    </div>
</div>
