<div id="immunology-container">
    <h2>Immunology Core</h2>
    <div class="immunology lead">
        <ut-web-text name="aboutImmunologyCore"></ut-web-text>
    </div>
    <div class="immunology-address">
        <address>
            <strong>Immunology Core</strong><br>
            1161 21st Avenue S., T3316 Medical Center North<br>
            Nashville, TN 37232 <br>
            <abbr title="Phone">P:</abbr> 615.322.4494 
        </address>
        <address>
            <strong>Email</strong><br>
            <a href="mailto:immunology@vvcenter.org">immunology@vvcenter.org</a><br>
            <strong>Website</strong><br>
            <a href="https://www.mc.vanderbilt.edu/root/vumc.php?site=immunocore">https://www.mc.vanderbilt.edu/root/vumc.php?site=immunocore</a>
        </address>
    </div>
</div>