<div id="labs-and-cores"></div>
<div id="lab-core-container">
    <div class="content">
        <h2>Labs and Cores</h2>
        <table class="utility-app-icon">
            <tbody>
                <tr>
                    <td class="icon" ui-sref="adminCore"><div class="lead">Administration Core</div></td>
                    <td class="icon" ui-sref="croweLab"><div class="lead">CroweLab</div></td>
                    <td class="icon" ui-sref="flowCore"><div class="lead">Flow Core</div></td>
                    <td class="icon" ui-sref="gocore"><div class="lead">GoCore</div></td>
                </tr>
                <tr>
                    <td class="icon" ui-sref="immunologyCore"><div class="lead">Immunology Core</div></td>
                    <td class="icon" ui-sref="polackLab"><div class="lead">Polack Lab</div></td>
                    <td class="icon" onclick="window.location='/seeq'"><div class="lead">Sequencing Core</div></td>
                    <td class="icon" ui-sref="techCore"><div class="lead"><div class="lead">Tech Core</div></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
