<div id="polack-lab-container">
    <h2>Polack Lab</h2>
    <div class="polack-lab lead">
        <ut-web-text name="aboutPolackLab"></ut-web-text>
    </div>
    <div class="polack-lab-address">
        <address>
            <strong>Polack Lab</strong><br>
            1161 21st Avenue S., C2210 Medical Center North<br>
            Nashville, TN 37232 <br>
            <abbr title="Phone">P:</abbr> 615.343.6738
        </address>
        <address>
            <strong>Email</strong><br>
            <a href="mailto:polacklab@vvcenter.org">polacklab@vvcenter.org</a><br>
            <strong>Websites</strong><br>
            <a href="http://pediatrics.mc.vanderbilt.edu/directory.php?did=7978">http://pediatrics.mc.vanderbilt.edu/directory.php?did=7978</a><br>
            <strong> Fundación INFANT: </strong><a href="http://www.infant.org.ar/">http://www.infant.org.ar/</a>
        </address>
    </div>
</div>