<div id="tech-core-container">
    <h2>Technology Core</h2>
    <div class="tech-core lead">
        <ut-web-text name="aboutTechCore"></ut-web-text>
    </div>
    <div class="apps">
        <h2>Applications</h2>
        <table class="utility-app-icon">
            <tbody>
                <tr>
                    <td
                        class='icon'
                        group="admin"
                        link="/utilities/sf_user"
                        title="Users"
                        ut-app-icon
                    >
                    </td>
                    <td
                        class='icon'
                        link="/software"
                        title="Software"
                        ut-app-icon
                    >
                    </td>
                    <td
                        class='icon'
                        group="admin"
                        link="/permission"
                        title="Permissions"
                        ut-app-icon
                    >
                    </td>
                    <td
                        class='icon'
                        group="admin"
                        link="/groups"
                        title="Groups"
                        ut-app-icon
                    >
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="tech-core-address">
        <address>
            <strong>Technology Core</strong><br>
            2213 Garland Avenue, 11476 Medical Research Building IV<br>
            Nashville, TN 37232 <br>
            <abbr title="Phone">P:</abbr> 615.343.8064
        </address>
        <address>
            <strong>Email</strong><br>
            <a href="mailto:tech@vvcenter.org">tech@vvcenter.org</a>
        </address>
    </div>
</div>
