<div id="about-utilities-container">
    <div class="content">
        <h2>Data organization and manipulation</h2>
        <div class="data-organization"></div>
        <div class="about lead">
            <ut-web-text name="aboutUtilities"></ut-web-text>
        </div>
    </div>
</div>
<div class="labCore" ng-include src="'/app/partials/homePage/_labCores.html'"></div>
<div id="homepage-publications-container">
    <div class="content">
        <h2>Publications</h2>
        <div class="publications lead">
            <ut-web-text name="aboutPublications"></ut-web-text>
        </div>
        <div class="pub-med-icon"></div>
        <ul class="pub-sync-steps">
            <li onclick="window.location='/publication-sync/search'">Search</li>
            <li onclick="window.location='/publication-sync/review'">Review</li>
            <li onclick="window.location='/publication-sync/confirmed'">Confirm</li>
        </ul>
    </div>
</div>