<div class="ut-fade" ng-include="'/app/partials/grid/pagination_top.html'"></div>
<div id="ut-grid-table-container">
    <table ng-if="research[0].gridParams.total">
        <thead>
            <tr>
                <th ut-grid-header sort-field="id" label="Id"></th>
                <th
                    ut-grid-header
                    label="Title"
                    ng-show="showColumns.indexOf('title') > -1"
                    allow-sort="false"
                >
                </th>
                <th
                    ut-grid-header
                    label="Content"
                    ng-show="showColumns.indexOf('content') > -1"
                    allow-sort="false"
                >
                </th>
                <th
                    ut-grid-header
                    label="Lab Core"
                    ng-show="showColumns.indexOf('lab_core') > -1"
                    allow-sort="false"
                >
                </th>
                <th
                    ut-grid-header
                    label="Category"
                    ng-show="showColumns.indexOf('category') > -1"
                    allow-sort="false"
                >
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="research in research" class="ut-fade">
                <td ui-sref="research({researchId:research.id})" class="link">{{research.id}}</td>
                <td
                    ng-show="showColumns.indexOf('title') > -1"
                >
                    {{research.title}}
                </td>
                <td
                    ng-show="showColumns.indexOf('content') > -1"
                >
                    {{research.content | truncate:200 }}
                </td>
                <td
                    ng-show="showColumns.indexOf('lab_core') > -1"
                >
                    {{research.LabCore.name}}
                </td>
                <td
                    ng-show="showColumns.indexOf('category') > -1"
                >
                    {{research.category}}
                </td>
                <td class="actions">
                    <ut-dropdown
                        icon="icon-cog"
                        template="/app/partials/research/grid_actions.html"
                        data="research"
                    >
                    </ut-dropdown>
                </td>
            </tr>
        </tbody>
    </table>
    <div ng-if="!research[0].gridParams.total" class="no-results">
        No Results Found
    </div>
</div>

<div class="ut-fade" ng-include="'/app/partials/grid/pagination_bottom.html'"></div>