<div id="donors-filter-container" ng-controller="DonorsFilterController" class="utilities-filter-container">
    <ul class="filters-users-list">
        <li>
            <input class="init-focus" ng-model="search" type="text" placeholder="Find Donors..."></input>
        </li>
        <ul class="selected" ng-if="filteredDonors.length">
            <li ng-repeat="filteredDonor in filteredDonors">
                <label>
                    <input
                        ng-model="c"
                        ng-checked="true"
                        ng-change="toggleDonor('remove', filteredDonor)"
                        type="checkbox"
                    />
                    <div class="description">{{filteredDonor.toString}}</div>
                </label>
            </li>
        </ul>
        <li ng-repeat="donor in donors | orderBy:'toString'">
            <label>
                <input
                    ng-model="c"
                    ng-change="toggleDonor('append', donor)"
                    type="checkbox"
                />
                <div class="description">{{donor.toString}}</div>
            </label>
        </li>
        <li class="help">Start typing for Donors</li>
    </ul>
</div>
