<div class="ut-fade" ng-include="'/app/partials/grid/pagination_top.html'"></div>

<div id="ut-grid-table-container">
    <table ng-if="cdas[0].gridParams.total">
        <thead>
            <tr>
                <th ut-grid-header sort-field="id" label="Id"></th>
                <th
                    ut-grid-header
                    sort-field="description"
                    label="Description"
                    ng-show="showColumns.indexOf('description') > -1"
                >
                </th>
                <th
                    ut-grid-header
                    label="CDA Number"
                    ng-show="showColumns.indexOf('cdaNumber') > -1"
                    allow-sort="false"
                >
                </th>
                <th
                    ut-grid-header
                    label="Investigators"
                    ng-show="showColumns.indexOf('Investigators') > -1"
                    sort-field="false"
                >
                </th>
                <th
                    ut-grid-header
                    label="Institutions"
                    ng-show="showColumns.indexOf('Institutions') > -1"
                    sort-field="false"
                >
                </th>
                <th
                    ut-grid-header
                    label="Recipients"
                    ng-show="showColumns.indexOf('Recipients') > -1"
                    allow-sort="recipient"
                >
                </th>
                <th
                    ut-grid-header
                    label="User"
                    ng-show="showColumns.indexOf('userId') > -1"
                    allow-sort="false"
                >
                </th>
                <th
                    ut-grid-header
                    label="Status"
                    ng-show="showColumns.indexOf('status') > -1"
                    allow-sort="status"
                >
                </th>
                <th
                    ut-grid-header
                    sort-field="created_at"
                    label="Created At"
                    ng-show="showColumns.indexOf('created_at') > -1"
                >
                </th>
                <th
                    ut-grid-header
                    sort-field="updated_at"
                    label="Updated At"
                    ng-show="showColumns.indexOf('updated_at') > -1"
                >
                </th>
                <th class="actions"></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="cda in cdas" class="ut-fade">
                <td ui-sref="cda({cdaId:cda.id})" class="link">{{cda.id}}</td>
                <td
                    ng-show="showColumns.indexOf('description') > -1"
                    ui-sref="cda({cdaId:cda.id})"
                    class="link"
                >
                    {{cda.description}}
                </td>
                <td
                    ng-show="showColumns.indexOf('cdaNumber') > -1"
                >
                    {{cda.cdaNumber}}
                </td>
                <td
                    ng-show="showColumns.indexOf('Investigators') > -1"
                >
                    <ul>
                        <li ng-repeat="investigator in cda.Investigators">
                            <a ng-if="!$last" class="flat-link" ui-sref="contact({contactId:investigator.id})" class="flat-link">
                                {{investigator.name + ",&nbsp;"}}
                            </a>
                            <a ng-if="$last" class="flat-link" ui-sref="contact({contactId:investigator.id})" class="flat-link">
                                {{investigator.name}}
                            </a>
                        </li>
                    </ul>
                </td>
                <td
                    ng-show="showColumns.indexOf('Institutions') > -1"
                >
                    <ul>
                        <li ng-repeat="institution in cda.Institutions">
                            <a ng-if="!$last" class="flat-link" ui-sref="collaborator({collaboratorId:institution.id})" class="flat-link">
                                {{institution.groupName + ",&nbsp;"}}
                            </a>
                            <a ng-if="$last" class="flat-link" ui-sref="collaborator({collaboratorId:institution.id})" class="flat-link">
                                {{institution.groupName}}
                            </a>
                        </li>
                    </ul>
                </td>
                <td
                    ng-show="showColumns.indexOf('Recipients') > -1"
                >
                    <ul>
                        <li ng-repeat="recipient in cda.Recipients">
                            <a ng-if="!$last" class="flat-link" ui-sref="collaborator({collaboratorId:recipient.id})" class="flat-link">
                                {{recipient.groupName + ",&nbsp;"}}
                            </a>
                            <a ng-if="$last" class="flat-link" ui-sref="collaborator({collaboratorId:recipient.id})" class="flat-link">
                                {{recipient.groupName}}
                            </a>
                        </li>
                    </ul>
                </td>
                <td
                    ng-show="showColumns.indexOf('userId') > -1"
                >
                    <a ui-sref="directory({userId:cda.User.u_id})" class="flat-link">
                        {{cda.User.fullName}}
                    </a>
                </td>
                <td
                    ng-show="showColumns.indexOf('status') > -1"
                >
                    {{cda.status}}
                </td>
                <td
                    ng-show="showColumns.indexOf('created_at') > -1"
                >
                    {{cda.created_at | utDate | date:'MM/dd/yy @ h:mma'}}
                </td>
                <td
                    ng-show="showColumns.indexOf('updated_at') > -1"
                >
                    {{cda.updated_at | utDate | date:'MM/dd/yy @ h:mma'}}
                </td>
                <td class="actions">
                    <ut-dropdown
                        icon="icon-cog"
                        template="/app/partials/cda/grid_actions.html"
                        data="cda"
                    >
                    </ut-dropdown>
                </td>
            </tr>
        </tbody>
    </table>
    <div ng-if="!cdas[0].gridParams.total" class="no-results">
        No Results Found
    </div>
</div>

<div class="ut-fade" ng-include="'/app/partials/grid/pagination_bottom.html'"></div>
