<div id="ut-grid-container">
    <div class="header">
        <div class="header-section">
            <div class="operations">
                <ut-dropdown
                    icon="operations-icon-export"
                    title="Export"
                    template="/app/partials/sample/csv_export.html"
                >
                </ut-dropdown>
            </div>
            <div class="operations">
                <ut-dropdown
                    icon="operations-icon-share"
                    title="Share"
                    template="/app/partials/grid/share.html"
                >
                </ut-dropdown>
            </div>
            <div class="header-primary">
                <h3>Sample Search</h3>
                <button class="btn" ng-click="createSample()">Create Sample</button>
                <button class="btn" ng-click="createFusionSample()">Create Fusion Samples</button>
            </div>
        </div>
    </div>
    <div class="filters-container">
        <div class="operations">
            <button class="btn"><i class="icon-list"></i></button>
        </div>
        <div class="filters">

            <ut-dropdown
                title="Sample Type: All"
                template="/app/partials/filters/sample_types.html"
            >
            </ut-dropdown>

            <ut-dropdown
                title="Tag: All"
                template="/app/partials/filters/tags.html"
            >
            </ut-dropdown>

            <ut-dropdown
                title="Molecule: All"
                template="/app/partials/filters/molecules.html"
            >
            </ut-dropdown>

            <ut-dropdown
                title="Protocol: All"
                template="/app/partials/filters/protocols.html"
            >
            </ut-dropdown>

            <ut-dropdown
                title="Donor: All"
                template="/app/partials/filters/donors.html"
            >
            </ut-dropdown>

            <ut-dropdown
                title="Target: All"
                template="/app/partials/filters/targets.html"
            >
            </ut-dropdown>

            <ut-dropdown
                title="Users: All"
                template="/app/partials/filters/users.html"
            >
            </ut-dropdown>

            <ut-dropdown
                title="Parent: All"
                template="/app/partials/filters/samples.html"
            >
            </ut-dropdown>

            <ut-dropdown
                title="From Donors with Immunities: All"
                template="/app/partials/filters/fromDonorsWithImmunities.html"
                class="human-specimen-grid"
            >
            </ut-dropdown>

            <ut-dropdown
                title="Created At: All"
                template="/app/partials/filters/created_at.html"
            >
            </ut-dropdown>

            <ut-contains-text></ut-contains-text>
        </div>
    </div>

    <div ui-view class="ut-fade"></div>
</div>
