<div id="freezer-navigation" ng-class="{expanded:freezerNavExpanded}" ng-controller="FreezerListController">
    <div class="header" ng-click="openFreezerNav()">
        <i class="icon-white icon-chevron-down"></i>
        <a>Freezer Navigation</a>
    </div>
    <div class="content">
        <ul class="tabs">
            <li class="freezers active" ui-sref="boxView.freezerList"><i class="icon-white icon-book"></i></li>
            <li class="divisions" ui-sref="boxView.divisionList({freezerId:box.freezerId})"><i class="icon-white icon-th-large"></i></li>
            <li class="boxes" ui-sref="boxView.boxList({divisionId:box.divisionId})"><i class="icon-white icon-th"></i></li>
            <li class="search"><i class="icon-white icon-search"></i></li>
            <li class="fill"></li>
        </ul>
        <div class="freezer-list">
            <ul>
                <li ng-if="isInventoryAdmin()" ng-click="createFreezer()">
                    <i class="icon-white icon-plus"></i>
                    <a>Create Freezer</a>
                </li>
                <li ng-repeat='freezer in freezers' data-id="{{freezer.id}}" >
                    <div class="description-container">
                        <div
                            ui-sref="boxView.divisionList({freezerId:freezer.id})"
                            class="description"
                        >
                            <i class="icon-white icon-book"></i>
                            <a >{{freezer.nickname}}</a>
                        </div>
                    </div>
                    <div class="actions" ng-if="isInventoryAdmin()">
                        <i class="icon-white icon-pencil" ng-click="editFreezer(freezer)"></i>
                        <i class="icon-white icon-trash" ng-click="deleteFreezer(freezer)"></i>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
