<div id="ut-grid-container">
    <div class="header">
        <div class="header-section">
            <div class="operations">
                <ut-dropdown
                    icon="operations-icon-export"
                    title="Export"
                    template="/app/partials/contact/csv_export.html"
                >
                </ut-dropdown>
            </div>
            <div class="operations">
                <ut-dropdown
                    icon="operations-icon-share"
                    title="Share"
                    template="/app/partials/grid/share.html"
                >
                </ut-dropdown>
            </div>
            <div class="header-primary">
                <h3>Contact Search</h3>
                <button class="btn" ng-click="createContact()">Create New Contact</button>
            </div>
        </div>
    </div>
    <div class="filters-container">
        <div class="filters">
            <ut-contains-text></ut-contains-text>
        </div>
    </div>
    <div ui-view class="ut-fade"></div>
</div>