<div id="ut-grid-actions" ng-controller="PublicationGridActionsController">
   <ul class="filters-users-list">
        <li ui-sref="publication({publicationId:data.id})"><i class="icon-file" />View</li>
        <li ng-if="canEdit()" ng-click="openEdit()"><i class="icon-pencil" />Edit</li>
        <li class="divider"></li>
        <li ng-if="canConfirm()" ng-click="openConfirm()"><i class="icon-check" />Confirm</li>
        <li ng-if="canBlacklist()" ng-click="openBlacklist()"><i class="icon-list" />Blacklist</li>
    </ul>
</div>