<div id="ut-grid-container">
    <div class="header">
        <div class="header-section">
            <div class="operations">
                <ut-dropdown
                    icon="operations-icon-export"
                    title="Export"
                    template="/app/partials/donor/csv_export.html"
                >
                </ut-dropdown>
            </div>
            <div class="operations">
                <ut-dropdown
                    icon="operations-icon-share"
                    title="Share"
                    template="/app/partials/grid/share.html"
                >
                </ut-dropdown>
            </div>
            <div class="header-primary">
                <h3>Donor Search</h3>
                <button class="btn" ng-click="createDonor()">Create Donor</button>
            </div>
        </div>
    </div>
    <div class="filters-container">
        <div class="filters">

            <ut-dropdown
                title="Immunities: All"
                template="/app/partials/filters/targets.html"
            >
            </ut-dropdown>

            <ut-dropdown
                title="Gender: All"
                template="/app/partials/filters/genders.html"
            >
            </ut-dropdown>

            <ut-dropdown
                title="Created At: All"
                template="/app/partials/filters/created_at.html"
            >
            </ut-dropdown>

            <ut-contains-text></ut-contains-text>
        </div>
    </div>
    <div ui-view class="ut-fade"></div>
</div>
