<div class="modal-header">
    <h3 ng-if="!protocol.id">Create Protocol</h3>
    <h3 ng-if="protocol.id">Edit Protocol {{ protocol.id }} - {{ protocol.protocol }}</h3>
</div>
<div class="ut-form-body">
    <div class="modal-body" ut-modal-body>
        <form id="sample-modal-form" class="form-horizontal">
            <div class="space-medium">

                <ut-control-group>
                    <div ng-repeat="globalError in protocol.globalErrors" class="ut-global-error">
                        {{globalError}}
                    </div>
                </ut-control-group>

                <ut-control-group label="Protocol" required>
                    <ut-input
                        model="protocol.protocol"
                        error="protocol.errors.protocol"
                    >
                    </ut-input>
                </ut-control-group>

                <ut-control-group label="Description">
                    <ut-input
                        model="protocol.description"
                        error="protocol.errors.description"
                    >
                    </ut-input>
                </ut-control-group>

                <div class="ut-form-divider"></div>

                <ut-control-group label="Attachments">
                    <ut-attachment-uploader o="Protocol" oid="protocol.id" trigger="handleUpload"></ut-attachment-uploader>
                </ut-control-group>
            </div>
        </form>
    </div>
</div>
<div class="modal-footer">
    <button class="btn" ng-click="save()" style="margin-right:5px;">
        <a ng-if="protocol.id">Save</a>
        <a ng-if="!protocol.id">Create</a>
    </button>
    <a href="" ng-click="cancel()">Cancel</a>
</div>