<div class="ut-fade" ng-include="'/app/partials/grid/pagination_top.html'"></div>
<div id="ut-grid-table-container">
    <table ng-if="webTexts[0].gridParams.total">
        <thead>
            <tr>
                <th ut-grid-header sort-field="id" label="Id"></th>
                <th
                    ut-grid-header
                    label="Title"
                    ng-show="showColumns.indexOf('name') > -1"
                    allow-sort="false"
                >
                </th>
                <th
                    ut-grid-header
                    label="Value"
                    ng-show="showColumns.indexOf('value') > -1"
                    allow-sort="false"
                >
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="webText in webTexts" class="ut-fade">
                <td ui-sref="webText({webTextId:webText.id})" class="link">{{webText.id}}</td>
                <td
                    ng-show="showColumns.indexOf('name') > -1"
                >
                    {{webText.name}}
                </td>
                <td
                    ng-show="showColumns.indexOf('value') > -1"
                >
                    {{webText.value | truncate:200 }}
                </td>
                <td class="actions">
                    <ut-dropdown
                        icon="icon-cog"
                        template="/app/partials/webText/grid_actions.html"
                        data="webText"
                    >
                    </ut-dropdown>
                </td>
            </tr>
        </tbody>
    </table>
    <div ng-if="!webTexts[0].gridParams.total" class="no-results">
        No Results Found
    </div>
</div>

<div class="ut-fade" ng-include="'/app/partials/grid/pagination_bottom.html'"></div>