<div class="modal-header">
    <h3 ng-if="!webText.id">Create Web Text</h3>
    <h3 ng-if="webText.id">Edit Web Text {{ webText.id }}</h3>
</div>
<div class="ut-form-body">
    <div class="modal-body" ut-modal-body>
        <form id="sample-modal-form" class="form-horizontal">
            <div class="space-medium">

                <ut-control-group>
                    <div ng-repeat="globalError in webText.globalErrors" class="ut-global-error">
                        {{globalError}}
                    </div>
                </ut-control-group>

                <ut-control-group label="Name" required>
                    <ut-input
                        model="webText.name"
                        error="webText.errors.name"
                    >
                    </ut-input>
                </ut-control-group>

                <ut-control-group label="Value" required>
                    <textarea class="rich ut-big-text-input" ng-model="webText.value"></textarea>
                    <div ng-if="webText.errors.value" class="ut-global-error">{{webText.errors.value}}</div>
                </ut-control-group>

                <div class="ut-form-divider"></div>

                <ut-control-group label="Attachments">
                    <ut-attachment-uploader o="WebText" oid="webText.id" trigger="handleUpload"></ut-attachment-uploader>
                </ut-control-group>
            </div>
        </form>
    </div>
</div>
<div class="modal-footer">
    <button class="btn" ng-click="save()" style="margin-right:5px;">
        <a ng-if="webText.id">Save</a>
        <a ng-if="!webText.id">Create</a>
    </button>
    <a href="" ng-click="cancel()">Cancel</a>
</div>