<div class="modal-header">
    <h3 ng-if="!molecule.id">Create Molecule</h3>
    <h3 ng-if="molecule.id">Edit Molecule {{ molecule.id }} - {{ molecule.name }}</h3>
</div>
<div class="ut-form-body">
    <div class="modal-body" ut-modal-body>
        <form id="sample-modal-form" class="form-horizontal">
            <div class="space-medium">

                <ut-control-group>
                    <div ng-repeat="globalError in molecule.globalErrors" class="ut-global-error">
                        {{globalError}}
                    </div>
                </ut-control-group>

                <ut-control-group label="Name" required>
                    <ut-input
                        model="molecule.name"
                        error="molecule.errors.name"
                    >
                    </ut-input>
                </ut-control-group>

                <ut-control-group label="Description">
                    <ut-input
                        model="molecule.description"
                        error="molecule.errors.description"
                    >
                    </ut-input>
                </ut-control-group>

                <div class="ut-form-divider"></div>

                <ut-control-group label="Attachments">
                    <ut-attachment-uploader o="Molecule" oid="molecule.id" trigger="handleUpload"></ut-attachment-uploader>
                </ut-control-group>
            </div>
        </form>
    </div>
</div>
<div class="modal-footer">
    <button class="btn" ng-click="save()" style="margin-right:5px;">
        <a ng-if="molecule.id">Save</a>
        <a ng-if="!molecule.id">Create</a>
    </button>
    <a href="" ng-click="cancel()">Cancel</a>
</div>