<div id="ut-detail-container">
    <div class="header">
        <div class="operations">
            <ut-dropdown
                icon="operations-icon-share"
                title="Share"
                template="/app/partials/grid/share.html"
            >
            </ut-dropdown>
        </div>
        <img class="header-icon" src="/images/utilities/inventory/sample-icon.png" />
        <ul class="ut-breadcrumbs">
            <li ui-sref="gocore">GoCore</li>
            <li ui-sref="antibodyRequestGrid.search">Antibody Requests</li>
            <li class="end">Antibody Request {{antibodyRequest.id}}</li>
            <li class="title">Antibody Request {{antibodyRequest.Sample.description}} </li>
        </ul>
    </div>
    <div class="content">
        <div class="toolbar" ng-if="canEdit()">
            <button  class="btn" ng-click="edit()">
                <i class="icon-pencil" />
                Edit AB Request
            </button>

            <ut-dropdown
                title="More"
                template="/app/partials/antibodyRequest/antibody_request_detail_more_dropdown.html"
                data="{culture:culture, cultureStatuses:cultureStatuses, antibodyRequest:antibodyRequest}"
            >
            </ut-dropdown>

            <div class="right">
                <img src="/images/utilities/inventory/trash_icon.png" ng-click="delete()"></img>
            </div>
        </div>
        <div class="main-column">
            <ut-edit-module title="Details">
                <div class="detail-column">
                    <table class="detail">
                        <tr>
                            <td>Sample:</td>
                            <td>
                                <a ui-sref="sample({sampleId:antibodyRequest.sampleId})" class="flat-link">
                                {{antibodyRequest.Sample.description}}
                            </td>
                        </tr>
                        <tr>
                            <td>Target:</td>
                            <td>
                                <a ui-sref="target({targetId:antibodyRequest.targetId})" class="flat-link">
                                {{antibodyRequest.Target.name}}
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="detail-column">
                    <table class="detail">
                        <tr>
                            <td>Amount Requested (mg):</td>
                            <td>{{antibodyRequest.amountRequested}}</td>
                        </tr>
                        <tr>
                            <td>Form Requested:</td>
                            <td>{{antibodyRequest.formRequested}}</td>
                        </tr>
                    </table>
                </div>
            </ut-edit-module>

            <ut-edit-module title="Culture" ng-if="hasCulture()" class="ut-position-relative">
                <div ng-include="'/app/partials/antibodyRequest/_culture_module.html'"></div>
            </ut-edit-module>

            <ut-edit-module title="Culture Status Log" ng-if="hasCutureStatuses()" class="ut-position-relative">
                <div ng-include="'/app/partials/culture/_culture_status_log.html'"></div>
            </ut-edit-module>

            <ut-edit-module title="Attachments">
                <ut-attachment-module
                    o="AntibodyRequest"
                    oid="antibodyRequest.id"
                >
                </ut-attachment-module>
            </ut-edit-module>

            <ut-edit-module title="Activity">
                <ut-activity-module
                    o="AntibodyRequest"
                    oid="antibodyRequest.id"
                    comment="comment"
                >
                </ut-activity-module>
            </ut-edit-module>
        </div>

        <div class="side-column">
            <ut-edit-module title="People">
                <table class="detail">
                    <tr>
                        <td>Creator:</td>
                        <td>
                            <img ng-if="antibodyRequest.userId" ng-src="/profile/avatar/{{antibodyRequest.userId}}" />
                            {{antibodyRequest.User.fullName}}
                        </td>
                    </tr>
                    <tr>
                        <td>Contact:</td>
                        <td>
                            <a class="flat-link" ui-sref="contact({contactId:antibodyRequest.Contact.id})">{{antibodyRequest.Contact.name}}</a>
                        </td>
                    </tr>
                    <tr class="ut-align-top">
                        <td>VIMs Sents:</td>
                        <td ng-if="antibodyRequest.vimSents">
                            <ul>
                                <li ng-repeat="vimSent in antibodyRequest.vimSents">
                                    <a ng-if="!$last" class="flat-link" ng-href="/vim/sent/{{vimSent.id}}">
                                        {{"VIM Sent " + vimSent.id + " " + vimSent.vim_sent_description + ",&nbsp;" }}
                                    </a>
                                    <a ng-if="$last" class="flat-link" ng-href="/vim/sent/{{vimSent.id}}">
                                        {{"VIM Sent " + vimSent.id + " " + vimSent.vim_sent_description}}
                                    </a>
                                </li>
                            </ul>
                        </td>
                    </tr>
                </table>
            </ut-edit-module>
            <ut-edit-module title="mAb Request Dates">
                <table class="detail">
                    <tr>
                        <td>Date Needed By:</td>
                        <td>{{ antibodyRequest.dateNeededBy | utDate | date:'MM/dd/yy'}}</td>
                    </tr>
                    <tr>
                        <td>Created:</td>
                        <td>{{ antibodyRequest.created_at | utDate | date:'MM/dd/yy @ h:mma'}}</td>
                    </tr>
                    <tr>
                        <td>Updated:</td>
                        <td>{{ antibodyRequest.updated_at | utDate | date:'MM/dd/yy @ h:mma'}}</td>
                    </tr>
                </table>
            </ut-edit-module>
            <ut-edit-module title="Culture Dates">
                <table class="detail">
                    <tr>
                        <td>Date of Purification:</td>
                        <td>{{ culture.dateOfPurification }}</td>
                    </tr>
                    <tr>
                        <td>Date of Last Status Update:</td>
                        <td>{{ culture.dateOfLastStatusUpdate }}</td>
                    </tr>
                    <tr>
                        <td>Expected Availability:</td>
                        <td>{{ culture.expectedAvailability }}</td>
                    </tr>
                    <tr>
                        <td>Created:</td>
                        <td>{{ culture.created_at | utDate | date:'MM/dd/yy @ h:mma'}}</td>
                    </tr>
                    <tr>
                        <td>Updated:</td>
                        <td>{{ culture.updated_at | utDate | date:'MM/dd/yy @ h:mma'}}</td>
                    </tr>
                </table>
            </ut-edit-module>
        </div>
    </div>
</div>
