<div class="modal-header">
    <h3>Delete Tag {{tag.id}}</h3>
</div>
<div class="modal-body" ut-modal-body>
    <div id="ut-comment-modal">
        <div class="form-horizontal">
            <p class="text-error">Are you sure you want to delete this Tag?</p>

            <ut-control-group label="Tag Name" class="created">
                <input type="hidden" />
                {{ tag.name}}
            </ut-control-group>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-danger" ng-click="delete()" style="margin-right:5px;">
        <a>Delete</a>
    </button>
    <a href="" ng-click="cancel()">Cancel</a>
</div>