<div class="modal-header">
    <h3>Upload NanoDrop File</h3>
</div>
<div class="modal-body" ut-modal-body>
    <div id="ut-comment-modal">
        <div class="form-horizontal">
            <p class="text-error">Make sure <strong>Elution Volume</strong> is correct. The yield will be calculated upon nanodrop file upload.</p>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-success" ng-click="uploadNanodropFile()" style="margin-right:5px;">
        <a>Upload</a>
    </button>
    <a href="" ng-click="cancel()">Cancel</a>
</div>
