<div class="ut-fade" ng-include="'/app/partials/grid/pagination_top.html'"></div>
<div id="ut-grid-table-container">
    <table ng-if="ethnicities[0].gridParams.total">
        <thead>
            <tr>
                <th ut-grid-header sort-field="id" label="Id"></th>
                <th
                    ut-grid-header
                    label="Name"
                    ng-show="showColumns.indexOf('name') > -1"
                    allow-sort="false"
                >
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="ethnicity in ethnicities" class="ut-fade">
                <td ui-sref="ethnicity({ethnicityId:ethnicity.id})" class="link">{{ethnicity.id}}</td>
                <td
                    ng-show="showColumns.indexOf('name') > -1"
                >
                    {{ethnicity.name}}
                </td>
                <td class="actions">
                    <ut-dropdown
                        icon="icon-cog"
                        template="/app/partials/ethnicity/grid_actions.html"
                        data="ethnicity"
                    >
                    </ut-dropdown>
                </td>
            </tr>
        </tbody>
    </table>
    <div ng-if="!ethnicities[0].gridParams.total" class="no-results">
        No Results Found
    </div>
</div>

<div class="ut-fade" ng-include="'/app/partials/grid/pagination_bottom.html'"></div>